* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

body {
  background: radial-gradient(#76b2fe, #b69efe);
  font-family: "Noto Sans KR", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2daff;
  padding-left: 50px;
}

.nav-menu {
  width: 500px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  padding: 0 3%;
  line-height: 30px;
}

.heading {
  text-align: center;
}

.heading__title {
  margin-top: 50px;
  font-weight: 600;
  color: white;
}

i {
  font-size: 1.5rem;
}

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
  color: white;
  margin-bottom: 5%;
}

.title a {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}

.title a:hover {
  color: #5153f5;
}

/* main */

.main-container {
  background: radial-gradient(#76b2fe, #b69efe);
}

.hero-section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 32%;
  padding: 1%;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 300px;
  display: block;
}

.car__img {
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 1.2rem;
  line-height: 3rem;
}

.like-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  margin-bottom: 5%;
}

.like-btn {
  width: 70px;
  font-size: 0.8rem;
  line-height: 25px;
  padding: 2% 3%;
  color: #fff;
  background-color: #5154f5a8;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10%;
  transition: all 0.3s;
}
.like-count {
  line-height: 20px;
}
.like {
  font-size: 20px;
  color: red;
}

.like-btn:hover {
  background-color: #ce7fd8;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card-like {
  text-align: right;
}

.card-footer {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  height: auto;
}

.card-footer p {
  margin: 0;
}

/* button */

.new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  line-height: 3rem;
  color: #fff;
  background-color: #5154f5a8;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
  text-decoration: none;
}

.new-post:hover {
  color: white;
  background-color: #5153f5;
}

.new-post-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.new-post-box {
  margin-top: 50px;
}

.new-post-box a {
  width: 300px;
  padding: 0 3%;
}
