<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="../static/css/account.css" />
    <script src="../static/js/account.js" type="module" defer></script>
  </head>
  <body>
    <div class="wrap">
      <section class="account-con">
        <div class="img-con">
          <h2>Welcome Back!</h2>
          <img src="../static/img/account.svg" alt="pet" />
          <p>지금 로그인하고, 당신의 펫을 자랑해 보세요!</p>
          <p class="font-small">Please login and get started!</p>
        </div>
        <div class="login-form">
          <h1 onclick="location.href = '/'">Petstagram🐶</h1>
          <p>Login and get started!</p>
          <div class="input-con">
            <label for="id">user ID</label>
            <input
              id="userId"
              type="text"
              placeholder="아이디를 입력해 주세요"
            />
            <span class="input-alert userId-alert"></span>
          </div>
          <div class="input-con">
            <label for="id">user password</label>
            <input
              id="userPw"
              type="password"
              placeholder="비밀번호를 입력해 주세요"
              autocomplete="true"
            />
            <span class="input-alert userPw-alert"></span>
          </div>
          <button id="login-button">LOGIN</button>
        </div>
      </section>
    </div>
  </body>
</html>
