<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>시설 상세정보</title>
    <script src="../static/js/logout.js" defer></script>
  </head>
  <body>
    <div class="wrap">
      <section class="review">
        <a href="/account">로그인</a>
        <a href="/signup">회원가입</a>
        <button id="logout-button">로그아웃</button>
      </section>
    </div>
  </body>
</html>
