<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/dab80053ef.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../static/css/new-post.css" />
    <title>Document</title>
    <script src="../static/js/logout.js" type="module" defer></script>
  </head>

  <body>
    <nav class="navbar">
      <div>
        <a href="/"><i class="fa-solid fa-house home"></i></a>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="/myfeed">내 피드</a></li>
          <li><a href="/feed">피드</a></li>
          <li><a href="/feed/write">내 펫 자랑하기</a></li>
          <li><a class="login" href="/login">로그인</a></li>
          <li id="logout-button" class="logout-button" style="cursor: pointer">
            로그아웃
          </li>

          <li
            id="logout-button"
            class="logout-button"
            style="cursor: pointer"
          ></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="heading">
        <h1 class="heading__title">Petstargram🐶</h1>
      </div>
      <div class="new-post">
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="files[]" multiple />
          <input type="submit" value="Upload Files" name="submit" />
        </form>

        <div class="new-post__add">
          <div class="new-post__title">
            <input
              id="titleInput"
              type="text"
              class="new-post__input"
              placeholder="제목"
            />
          </div>
          <div class="new-post__description">
            <textarea
              class="new-post__textarea"
              name=""
              id="descriptionTextarea"
              cols="30"
              rows="10"
              placeholder="내용을 입력하세요..."
            ></textarea>
          </div>
          <div class="new-post__addBtn">
            <button id="addBtn" class="add-button" type="">
              <i class="fa-solid fa-share-from-square"></i>공유하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/new-post.js"></script>
  </body>
</html>
